<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="./../css/index.css" />
    <link rel="stylesheet" href="./../css/faq.css" />

    <title>Sobre Nosotros</title>
  </head>
  <body>
    <header
      class="shadow-lg rounded bgColorWhitesmoke d-flex flex-wrap align-items-center px-4 justify-content-center justify-content-md-between py-3 border-bottom"
    >
      <a
        class="d-flex align-items-center col-sm-12 col-md-4 text-dark text-decoration-none"
        href="index.html"
      >
        <img src="./../assets/easytech.png" alt="easyTech_logo" width="300" />
      </a>

      <div class="col-sm-12 col-md-8 text-end">
        <button class="btn btn-link colorBlue" id="btnCatalog">Catálogo</button>
        <button class="btn btn-link colorBlue" id="btnLogin">
          Iniciar sesión
        </button>
        <button class="btn btn-link colorBlue" id="btnRegistro">
          Registro
        </button>
        <button class="btn btn-link colorBlue" id="btnDocumentation">
          PQRS
        </button>
        <button class="btn btn-link colorBlue" id="btnAboutUs">
          Sobre nosotros
        </button>
        <button class="btn">
          <a target="_blank" class="colorBlack" href="https://www.facebook.com/"
            ><i class="fa fa-facebook"></i
          ></a>
        </button>
        <button class="btn">
          <a
            target="_blank"
            class="colorBlack"
            href="https://twitter.com/?lang=es"
          >
            <i class="fa fa-twitter"></i>
          </a>
        </button>
        <button class="btn">
          <a
            class="colorBlack"
            href="https://www.youtube.com/"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fa fa-youtube-play"></i
          ></a>
        </button>
      </div>
    </header>

    <section class="p-5 minHeight70vw">
      <div class="container">
        <div class="row">
          <div class="col d-flex justify-content-center">
            <div class="d-flex align-items-center">
              <h1 class="fontWeight500 mb-5">Sobre la aplicación</h1>
            </div>
          </div>
          <div class="col">
            <div class="d-flex justify-content-center">
              <img src="./../assets/shop.png" alt="faq" width="300" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="row justify-content-center py-4">
              <div class="col-sm-12 text-center">
                <h3 class="fontWeight500">Easy tech</h3>
                <p>
                  Nos enorgullece ser tu destino único para productos
                  tecnológicos de vanguardia que hacen la vida más inteligente,
                  eficiente y emocionante. Con una cuidada selección de
                  dispositivos y gadgets de las mejores marcas, ofrecemos una
                  experiencia de compra online excepcional para entusiastas de
                  la tecnología y consumidores preocupados por la calidad.
                </p>
                <h4>Nuestra Gama de Productos:</h4>
                <p>
                  Explora nuestro catálogo diverso y siempre actualizado que
                  abarca una amplia variedad de categorías tecnológicas:
                </p>
                <p>
                  Dispositivos Móviles: Desde los últimos modelos de smartphones
                  hasta accesorios innovadores, tenemos todo lo que necesitas
                  para mantenerte conectado. Computadoras y Portátiles: Descubre
                  potencia y rendimiento con nuestras computadoras de
                  escritorio, portátiles ultradelgadas y equipos de juego de
                  última generación. Electrónica para el Hogar: Haz que tu hogar
                  sea más inteligente con nuestra gama de dispositivos para el
                  hogar conectado, desde cámaras de seguridad hasta sistemas de
                  iluminación inteligente. Gadgets y Accesorios: Encuentra los
                  gadgets más geniales y accesorios únicos que complementan tu
                  estilo de vida tecnológico.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center">
            <div class="d-flex align-items-center">
              <h1 class="fontWeight500 mb-5">Conoce el equipo</h1>
            </div>
          </div>
          <div class="col">
            <div class="d-flex justify-content-center">
              <img src="./../assets/team.png" alt="faq" width="300" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="row justify-content-center py-4">
              <div class="col-6">
                <h3 class="fontWeight300 mb-4">Edward Andres Moron Quintana</h3>
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <img
                      class="rounded-circle img-fluid"
                      src="./../assets/edward.png"
                      alt="Edward"
                    />
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <p>
                      Soy un apasionado desarrollador de software con una sólida
                      formación en ingeniería informática y una amplia
                      experiencia en el desarrollo de aplicaciones. Mi enfoque
                      se centra en la creación de soluciones innovadoras y
                      eficientes que aborden desafíos específicos del cliente y
                      mejoren la experiencia del usuario.
                    </p>
                  </div>
                </div>
                <div class="d-flex justify-content-center">
                  <button class="btn">
                    <a
                      target="_blank"
                      class="colorBlack"
                      href="https://www.facebook.com/edwardandres.moronquintana?mibextid=9R9pXO"
                      ><i class="fa fa-facebook"></i
                    ></a>
                  </button>

                  <button class="btn">
                    <a
                      target="_blank"
                      class="colorBlack"
                      href="https://www.instagram.com/edward2553/"
                      ><i class="fa fa-instagram"></i
                    ></a>
                  </button>
                  <button class="btn">
                    <a
                      target="_blank"
                      class="colorBlack"
                      href="https://www.linkedin.com/in/edward-andres-mor%C3%B3n-quintana-46a578186/"
                      ><i class="fa fa-linkedin"></i
                    ></a>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <hr width="800px" />
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="row justify-content-center py-4">
              <div class="col-6">
                <h3 class="fontWeight300 mb-4">Juan José Cadavid Taborda</h3>
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <img
                      class="rounded-circle img-fluid"
                      src="./../assets/juan.png"
                      alt="Edward"
                    />
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <p>
                      Soy un apasionado diseñador de experiencia de usuario con
                      un enfoque centrado en el usuario y una sólida formación
                      en diseño interactivo. Mi objetivo es crear experiencias
                      digitales intuitivas y atractivas que satisfagan las
                      necesidades del usuario y generen un impacto positivo en
                      los objetivos del negocio.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <hr width="800px" />
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="row justify-content-center py-4">
              <div class="col-6">
                <h3 class="fontWeight300 mb-4">Jerónimo Arboleda Galeano</h3>
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <img
                      class="rounded-circle img-fluid"
                      src="./../assets/jero.png"
                      alt="Edward"
                    />
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <p>
                      Soy un apasionado Product Manager con una sólida formación
                      en gestión de productos y una amplia experiencia en la
                      creación y ejecución de estrategias que impulsan el éxito
                      del producto. Mi enfoque se centra en comprender las
                      necesidades del usuario, la visión del negocio y liderar
                      equipos multidisciplinarios para ofrecer productos
                      innovadores y de alta calidad.
                    </p>
                  </div>
                </div>
                <div class="d-flex justify-content-center">
                  <button class="btn">
                    <a
                      target="_blank"
                      class="colorBlack"
                      href="https://www.facebook.com/Jero.Arboleda.G?mibextid=ZbWKwL"
                      ><i class="fa fa-facebook"></i
                    ></a>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="py-3 mt-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
          <a href="index.html" class="nav-link px-2 text-muted">Inicio</a>
        </li>
        <li class="nav-item">
          <a href="catalogScreen.html" class="nav-link px-2 text-muted"
            >Catálogo</a
          >
        </li>
        <li class="nav-item">
          <a href="loginScreen.html" class="nav-link px-2 text-muted">Login</a>
        </li>
        <li class="nav-item">
          <a href="registerScreen.html" class="nav-link px-2 text-muted"
            >Registro</a
          >
        </li>
        <li class="nav-item">
          <a href="faqScreen.html" class="nav-link px-2 text-muted">PQRS</a>
        </li>
        <li class="nav-item">
          <a href="aboutUsScreen.html" class="nav-link px-2 text-muted"
            >Sobre nosotros</a
          >
        </li>
      </ul>
      <p class="text-center text-muted">© 2021 Easy Tech, Inc</p>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script src="./../js/index.js"></script>
    <script src="./../js/login.js"></script>
  </body>
</html>
