<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="./../css/index.css" />
    <link rel="stylesheet" href="./../css/faq.css" />

    <title>Ayudas y Documentación</title>
  </head>
  <body>
    <header
      class="shadow-lg rounded bgColorWhitesmoke d-flex flex-wrap align-items-center px-4 justify-content-center justify-content-md-between py-3 border-bottom"
    >
      <a
        class="d-flex align-items-center col-sm-12 col-md-4 text-dark text-decoration-none"
        href="index.html"
      >
        <img src="./../assets/easytech.png" alt="easytech_logo" width="300" />
      </a>

      <div class="col-sm-12 col-md-8 text-end">
        <button class="btn btn-link colorBlue" id="btnCatalog">Catálogo</button>
        <button class="btn btn-link colorBlue" id="btnLogin">Iniciar sesión</button>
        <button class="btn btn-link colorBlue" id="btnRegistro">Registro</button>
        <button class="btn btn-link colorBlue" id="btnDocumentation">PQRS</button>
        <button class="btn btn-link colorBlue" id="btnAboutUs">Sobre nosotros</button>
        <button class="btn">
          <a target="_blank" class="colorBlack" href="https://www.facebook.com/"
            ><i class="fa fa-facebook"></i
          ></a>
        </button>
        <button class="btn">
          <a
            target="_blank"
            class="colorBlack"
            href="https://twitter.com/?lang=es"
          >
            <i class="fa fa-twitter"></i>
          </a>
        </button>
        <button class="btn">
          <a
            class="colorBlack"
            href="https://www.youtube.com/"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fa fa-youtube-play"></i
          ></a>
        </button>
      </div>
    </header>

    <section class="p-5 minHeight70vw">
      <div class="container">
        <div class="row">
          <div class="col d-flex justify-content-center">
            <div class="d-flex align-items-center">
              <h1 class="fontWeight500 mb-5">Ayudas y documentación</h1>
            </div>
          </div>
          <div class="col">
            <div class="d-flex justify-content-center">
              <img src="./../assets/faq.png" alt="faq" width="300" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Preguntas frecuentes
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <h3 class="fontWeight500">Compras</h3>
                    <div class="my-4">
                      <h5 class="fontWeight300">
                        ¿Cómo puedo realizar un pedido en su tienda en línea?
                      </h5>
                      <p>
                        Para realizar un pedido, simplemente navega por nuestra
                        tienda, selecciona el producto que deseas, agrégalo al
                        carrito y sigue los pasos para completar la compra.
                      </p>
                    </div>
                    <div class="my-4">
                      <h5 class="fontWeight300">
                        ¿Cuáles son las opciones de pago disponibles?
                      </h5>
                      <p>
                        Aceptamos varias formas de pago, incluyendo tarjetas de
                        crédito, débito y métodos de pago en línea seguros como
                        PayPal.
                      </p>
                    </div>
                    <div class="my-4">
                      <h5 class="fontWeight300">
                        ¿Ofrecen envío internacional?
                      </h5>
                      <p>
                        No ofrecemos envío internacional. Si estas en Colombia,
                        Puedes seleccionar tu ubicación durante el proceso de
                        compra para conocer las opciones de envío y costos
                        asociados.
                      </p>
                    </div>
                    <div class="my-4">
                      <h5 class="fontWeight300">
                        ¿Cuánto tiempo tomará recibir mi pedido?
                      </h5>
                      <p>
                        El tiempo de envío varía según tu ubicación y el método
                        de envío seleccionado. Puedes revisar los tiempos
                        estimados durante el proceso de compra.
                      </p>
                    </div>
                    <div class="my-4">
                      <h5 class="fontWeight300">
                        ¿Qué debo hacer si recibo un producto defectuoso o
                        incorrecto?
                      </h5>
                      <p>
                        Contacta con nuestro equipo de atención al cliente de
                        inmediato. Estamos aquí para ayudarte a resolver
                        cualquier problema y organizar el reemplazo o reembolso
                        según sea necesario.
                      </p>
                    </div>
                    <div class="my-4">
                      <h5 class="fontWeight300">
                        ¿Tienen una política de devolución?
                      </h5>
                      <p>
                        Sí, contamos con una política de devolución. Puedes
                        revisar los detalles en nuestra sección de "Políticas de
                        Devolución" en el sitio web.
                      </p>
                    </div>
                    <div class="my-4">
                      <h5 class="fontWeight300">
                        ¿Ofrecen garantías en sus productos?
                      </h5>
                      <p>
                        Sí, muchos de nuestros productos vienen con garantías.
                        La información específica de la garantía se encuentra en
                        la página del producto o en la documentación
                        proporcionada
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseFour"
                    aria-expanded="false"
                    aria-controls="collapseFour"
                  >
                    Documentación
                  </button>
                </h2>
                <div
                  id="collapseFour"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>
                      La documentación del software es esencial para
                      proporcionar información detallada y comprensible sobre un
                      programa, aplicación o sistema de software. Su objetivo
                      principal es facilitar el desarrollo, el mantenimiento y
                      el uso efectivo del software. Aquí se detallan algunas de
                      las funciones clave de la documentación del software:
                      Entendimiento del Sistema: Proporciona una descripción
                      detallada de la arquitectura, diseño y funcionamiento del
                      software. Esto ayuda a los desarrolladores, ingenieros y
                      otros stakeholders a comprender cómo está estructurado y
                      cómo funciona el sistema. Desarrollo y Mantenimiento:
                      Facilita el proceso de desarrollo al proporcionar
                      información sobre el código fuente, los módulos, las
                      funciones y las interfaces. Esto es crucial para que los
                      desarrolladores puedan colaborar y realizar modificaciones
                      o mejoras en el código. Ayuda en el mantenimiento del
                      software al proporcionar detalles sobre la estructura y la
                      lógica del código, lo que facilita la identificación y
                      corrección de errores (bugs). Integración con Otros
                      Sistemas: Si el software interactúa con otros sistemas, la
                      documentación ayuda a comprender los requisitos y
                      protocolos de integración. Esto es vital para garantizar
                      una interoperabilidad efectiva. Formación del Usuario:
                      Sirve como recurso educativo para los usuarios finales.
                      Proporciona información sobre cómo instalar, configurar y
                      utilizar el software de manera eficiente. Incluye manuales
                      de usuario, guías de inicio rápido y tutoriales. En
                      resumen, la documentación del software es una herramienta
                      esencial que contribuye al éxito del desarrollo, la
                      implementación y el uso continuo del software a lo largo
                      de su ciclo de vida.
                    </p>
                    <a
                      target="_blank"
                      href="https://www.itu.int/en/ITU-D/Projects/Documents/ProjectDocumentTemplate.pdf"
                      >Link a la documentación</a
                    >
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseFive"
                    aria-expanded="false"
                    aria-controls="collapseFive"
                  >
                    Política de devoluciones
                  </button>
                </h2>
                <div
                  id="collapseFive"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>
                      1. Devoluciones y Reembolsos: 1.1 Condiciones para la
                      Devolución: Aceptaremos devoluciones dentro de los
                      primeros 30 días después de la recepción del producto. El
                      producto debe estar en su estado original, sin usar y con
                      todos los accesorios y embalajes originales. 1.2 Productos
                      no Elegibles para Devolución: Los productos personalizados
                      o grabados. Software y productos descargables. Artículos
                      de higiene personal abiertos o utilizados. 2. Proceso de
                      Devolución: 2.1 Solicitud de Devolución: Para iniciar el
                      proceso de devolución, comunícate con nuestro equipo de
                      atención al cliente a través de [información de contacto]
                      dentro del período de devolución. 2.2 Autorización de
                      Devolución: Se te proporcionará un número de autorización
                      de devolución (RMA) junto con las instrucciones detalladas
                      sobre cómo devolver el producto. 2.3 Empaque y Envío:
                      Empaqueta el producto de forma segura, incluyendo todos
                      los accesorios y embalajes originales. Adjunta claramente
                      el RMA en el paquete. Envía el producto a la dirección
                      proporcionada en las instrucciones de devolución. 3.
                      Inspección y Aprobación de Devolución: 3.1 Inspección del
                      Producto: Una vez que recibamos el producto devuelto,
                      realizaremos una inspección para asegurarnos de que cumple
                      con las condiciones de devolución. 3.2 Aprobación de la
                      Devolución: Si el producto cumple con las condiciones de
                      devolución, se aprobará la devolución y se procederá con
                      el reembolso o el reemplazo. 4. Opciones de Reembolso: 4.1
                      Reembolso: El reembolso se realizará utilizando el mismo
                      método de pago que se utilizó para la compra original. Los
                      gastos de envío originales no son reembolsables, a menos
                      que el producto sea defectuoso o incorrecto. 4.2 Crédito
                      en la Tienda: Ofrecemos la opción de un crédito en la
                      tienda para compras futuras en lugar de un reembolso. 5.
                      Productos Defectuosos o Incorrectos: Si recibes un
                      producto defectuoso o incorrecto, comunícate con nuestro
                      equipo de atención al cliente de inmediato para organizar
                      una devolución y reemplazo. 6. Cambios en la Política: Nos
                      reservamos el derecho de realizar cambios en nuestra
                      política de devoluciones. Cualquier cambio se comunicará
                      de manera efectiva en nuestro sitio web. Esta política de
                      devoluciones se ha creado con el objetivo de garantizar
                      una experiencia de compra justa y transparente para
                      nuestros clientes. Para cualquier pregunta adicional o
                      para iniciar un proceso de devolución, no dudes en ponerte
                      en contacto con nuestro equipo de atención al cliente.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseSix"
                    aria-expanded="false"
                    aria-controls="collapseSix"
                  >
                    Política de privacidad
                  </button>
                </h2>
                <div
                  id="collapseSix"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>
                      1. Información Recopilada: 1.1 Información Personal:
                      Recopilamos información personal, como nombre, dirección,
                      dirección de correo electrónico y número de teléfono,
                      durante el proceso de compra. 1.2 Información de Pago:
                      Para facilitar transacciones seguras, recopilamos
                      información de pago, como detalles de tarjetas de crédito
                      o información de cuentas de servicios de pago en línea.
                      1.3 Información del Dispositivo: Recopilamos información
                      sobre el dispositivo que utilizas para acceder a nuestro
                      sitio web, incluidos detalles del sistema operativo,
                      navegador y dirección IP. 2. Uso de la Información: 2.1
                      Procesamiento de Pedidos: Utilizamos la información
                      proporcionada para procesar y completar tus pedidos, así
                      como para la entrega de productos. 2.2 Comunicaciones:
                      Podemos utilizar tu información de contacto para enviarte
                      actualizaciones sobre tu pedido, información del producto
                      y ofertas promocionales. Puedes optar por no recibir
                      comunicaciones promocionales en cualquier momento. 2.3
                      Mejora del Servicio: Analizamos la información recopilada
                      para mejorar la experiencia del usuario, personalizar el
                      contenido y ofrecer productos y servicios más relevantes.
                      2.4 Seguridad y Prevención de Fraudes: Utilizamos medidas
                      de seguridad para proteger la información personal y
                      prevenir actividades fraudulentas. 3. Compartir
                      Información: 3.1 Proveedores de Servicios: Compartimos
                      información con proveedores de servicios que nos ayudan en
                      funciones comerciales, como procesamiento de pagos y
                      envío. 3.2 Cumplimiento Legal: Podemos divulgar
                      información en respuesta a solicitudes legales o cuando
                      sea necesario para cumplir con la ley. 4. Cookies y
                      Tecnologías Similares: 4.1 Cookies: Utilizamos cookies y
                      tecnologías similares para mejorar la funcionalidad del
                      sitio web y recopilar información sobre el comportamiento
                      del usuario. 5. Privacidad de Menores: No recopilamos de
                      manera intencionada información de menores de 13 años. Si
                      eres padre o tutor y crees que tu hijo nos ha
                      proporcionado información personal, contáctanos. 6.
                      Seguridad de la Información: Implementamos medidas de
                      seguridad para proteger la información personal. Sin
                      embargo, ninguna transmisión por Internet o sistema de
                      almacenamiento es completamente seguro. 7. Acceso y
                      Control de la Información: Puedes acceder, corregir o
                      eliminar tu información personal en cualquier momento.
                      Contacta con nuestro equipo de privacidad para realizar
                      cambios. 8. Cambios en la Política de Privacidad: Nos
                      reservamos el derecho de realizar cambios en nuestra
                      política de privacidad. Cualquier cambio se comunicará de
                      manera efectiva en nuestro sitio web. Esta política de
                      privacidad se ha establecido para proteger tu información
                      y garantizar la transparencia en nuestras prácticas. Para
                      obtener más información o realizar solicitudes
                      relacionadas con la privacidad, contáctanos.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseSeven"
                    aria-expanded="false"
                    aria-controls="collapseSeven"
                  >
                    Contáctenos
                  </button>
                </h2>
                <div
                  id="collapseSeven"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <div class="container">
                      <div class=" p-5">
                        <h4 class="fontWeight300">Formulario de contacto</h4>
                        <div>
                          <form>
                            <div class="form-group mb-3">
                              <label for="nameContact">Nombre</label>
                              <input
                                type="text"
                                class="form-control"
                                id="nameContact"
                                aria-describedby="nameHelp"
                                placeholder="Escriba su nombre"
                              />
                            </div>
                            <div class="form-group mb-3">
                              <label for="lastNameContact">Apellido</label>
                              <input
                                type="text"
                                max="50"
                                class="form-control"
                                id="lastNameContact"
                                aria-describedby="lastNameContact"
                                placeholder="Escriba su apellido"
                              />
                            </div>
                            <div class="form-group mb-3">
                              <label for="exampleInputEmail1">Correo electrónico</label>
                              <input
                                type="email"
                                class="form-control"
                                id="exampleInputEmail1"
                                aria-describedby="emailHelp"
                                placeholder="Escriba su correo electrónico"
                              />
                            </div>
                            <div class="form-group mb-3">
                              <label for="messageText">Mensaje</label>
                              <textarea class="form-control" aria-label="With textarea"></textarea>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="py-3 mt-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
          <a href="index.html" class="nav-link px-2 text-muted">Inicio</a>
        </li>
        <li class="nav-item">
          <a href="catalogScreen.html" class="nav-link px-2 text-muted"
            >Catálogo</a
          >
        </li>
        <li class="nav-item">
          <a href="loginScreen.html" class="nav-link px-2 text-muted">Login</a>
        </li>
        <li class="nav-item">
          <a href="registerScreen.html" class="nav-link px-2 text-muted"
            >Registro</a
          >
        </li>
        <li class="nav-item">
          <a href="faqScreen.html" class="nav-link px-2 text-muted"
            >PQRS</a
          >
        </li>
        <li class="nav-item">
          <a href="aboutUsScreen.html" class="nav-link px-2 text-muted">Sobre nosotros</a>
        </li>
      </ul>
      <p class="text-center text-muted">© 2021 Easy Tech, Inc</p>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script src="./../js/index.js"></script>
    <script src="./../js/login.js"></script>
  </body>
</html>
